title {
    display: none;
}

body{
    font-family:Arial;
    font-size: 25px;
    width: fit-content;
    margin: 350px;
    background-color: #f0f0f0;
}
/*<style type="text/css">*/
a:link {text-decoration:none; color: #7e9efc;} /* Link no visitado*/
a:visited {text-decoration:none; color:#2c53c7} /*Link visitado*/
a:active {text-decoration:none; color:#fab300;} /*Link activo*/
a:hover {text-decoration:none; color:#fab300;} /*Mause sobre el link*/
/*</style>*/

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bdbdbd;
}

ul li{
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


ul li a:hover {
    background-color: #111;
}


ol li{
    /*background: ##f5f5f2;*/
    /*padding: 1px;*/
    /*margin-left: 100px;*/
    list-style-type:decimal;
    color: #b967ff8f;
    background: #fff;
    margin: 5px;
    margin-left 0px;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;

}

h2
{
    font-family: Arial;
    font-size: 30px;
    /*width: 500px;*/
    margin: 1px;
    color: #2c53c7;
    letter-spacing: 2px;
    font-weight:bold;
    background: #f7f7f700;
    margin: inheritpx;
}
#container > div {
    display: flex;

}
#container > div > div {
    width: 70%;
    height: 20%;

}
#space-between {
    justify-content: space-between;
}
